---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// font size
html {
    font-size: 14px; // change from 16
  
    @include breakpoint($medium) {
      font-size: 14px; // change from 18
    }
  
    @include breakpoint($large) {
      font-size: 16px; // change from 20
    }
  
    @include breakpoint($x-large) {
      font-size: 18px; // change from 22
    }
  }

h3,h4,h5,h6 {
    font-size: 1em
}

.dlbtn {
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
  border-radius: 12px;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
}  
.dlbtn:hover {
  color: white;
}
.dlbtn:visited {
  color: white;
}
.patreon {
  background-color: #FF424D;
}
.itchio {
  background-color: #000;
}
.steam {
  background-color: #003;
}
.nsfw {
  background-color: #000;
  color: #000;
}
.pro {
  background-color: aqua;
}
.creator {
  background-color: bisque;
}
sup {
  font-weight: bold;
}